<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GAME UPLOAD</title>
    <!-- IMPORTING STATIC FILES : CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/randomize/randomize.css')}}">
    <!-- IMPORTING STATIC FILES : JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="  crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/randomize/randomize.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

</head>

<body>
    <div class="container">
        <form action="{{ url_for('random_select') }}" method="post">
            <div class="content">
                <select id='game_select' name="game_select" style="width:400px;">
                    <option selected disabled>Select Game</option>
                    {% for app_name in apps_name %}
                    <option value="{{ app_name }}">{{ app_name}}</option>
                    {% endfor %}

                </select>
                <button type="submit">Game Randomizer</button>
            </div>
        </form>

    </div>
    <div class="container">
        <div class="slider-1">
             {% if req_method == 'GET' %}
                {% block req_get_slider1 %}
                     {% for image_path in images_path %}
                         <img src="{{ url_for('static', filename='img/default/'+image_path)}}" alt="">
                     {% endfor %}
                {% endblock req_get_slider1 %}
            {% else %}
                {% block reg_post_slider1 %}
                     {% for image_path in images_path %}
                         <img src="{{ url_for('static', filename='img/app_images/'+image_path)}}" alt="">
                     {% endfor %}
                {% endblock reg_post_slider1 %}
            {% endif %}
        </div>
        <div class="slider-2">
             {% if req_method == 'GET' %}
                {% block req_get_slider2 %}
                     {% for image_path in images_path %}
                         <img src="{{ url_for('static', filename='img/default/'+image_path)}}" alt="">
                     {% endfor %}
                {% endblock req_get_slider2 %}
            {% else %}
                {% block reg_post_slider2 %}
                     {% for image_path in images_path %}
                         <img src="{{ url_for('static', filename='img/app_images/'+image_path)}}" alt="">
                     {% endfor %}
                {% endblock reg_post_slider2 %}
            {% endif %}
        </div>
    </div>

</body>

</html>