/* GENERAL DESIGN */
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');
 * {
	 box-sizing: border-box;
}
 body {
	 font-family: 'Rubik', sans-serif;

}
 .container {
	 display: flex;
	 height: 100vh;
}
 /* CONTAINER LEFT */
 .left {
	 overflow: hidden;
	 display: flex;
	 flex-wrap: wrap;
	 flex-direction: column;
	 justify-content: center;
	 animation-name: left;
	 animation-duration: 1s;
	 animation-fill-mode: both;
	 animation-delay: 1s;
	 background-color: #dddddd;
}
 /* CONTAINER RIGHT */
 .right {
	 flex: 1;
	 background-color: #dddddd;
	 transition: 1s;
	 background-size: contain;
	 background-repeat: no-repeat;
	 background-position: center;
	 border: 2px solid #F1592A;
	 width: 50%;
}
 .header > h2 {
	 margin: 0;
	 color: #F1592A;
}
 .header > h4 {
	 margin-top: 10px;
	 font-weight: normal;
	 font-size: 15px;
	 color: rgba(0, 0, 0, .4);
}
 /* FORM DESIGN */
 .form-input {
	 max-width: 80%;
	 display: flex;
	 flex-direction: column;
}
 .form-input > p {
	 text-align: right;
}
 .form-input > p > a {
	 color: #000;
	 font-size: 14px;
}
 .form-field {
	 height: 46px;
	 padding: 0 16px;
	 border: 2px solid #ddd;
	 border-radius: 4px;
	 font-family: 'Rubik', sans-serif;
	 outline: 0;
	 transition: 0.2s;
	 margin-top: 20px;
}
 .form-field:focus {
	 border-color: #0f7ef1;
}
 .form-input > button {
	 padding: 12px 10px;
	 border: 0;
	 background: linear-gradient(to right, #F1592A 0%, #c4fc00 100%);
	 border-radius: 3px;
	 margin-top: 10px;
	 color: #fff;
	 letter-spacing: 1px;
	 font-family: 'Rubik', sans-serif;
}
 /* ANIMATION */
 .animation {
	 animation-name: move;
	 animation-duration: 0.4s;
	 animation-fill-mode: both;
	 animation-delay: 2s;
}
 .a1 {
	 animation-delay: 2s;
}
 .a2 {
	 animation-delay: 2.1s;
}
 .a3 {
	 animation-delay: 2.2s;
}
 .a4 {
	 animation-delay: 2.3s;
}
 .a6 {
	 animation-delay: 2.5s;
}
 @keyframes move {
	 0% {
		 opacity: 0;
		 visibility: hidden;
		 transform: translateY(-40px);
	}
	 100% {
		 opacity: 1;
		 visibility: visible;
		 transform: translateY(0);
	}
}
 @keyframes left {
	 0% {
		 opacity: 0;
		 width: 0;
	}
	 100% {
		 opacity: 1;
		 padding: 20px 40px;
		 width: 440px;
	}
}
 /* HOVER FOR A TAG */
 .redirection{
	 padding: 2px;
 }
 .redirection:hover{
	 background-color: #F1592A;
 }
