.container{
    display:flex;
    justify-content: space-between;
    margin: 60px 10%;
}
/* SLIDER */
.slider-1, .slider-2{
    width: 400px!important;
    overflow: hidden;
}
.slider-1 img, .slider-2 img{
    width: 400px!important;
}

/* NAVIGATION BAR */
nav{
  display: flex;
  justify-content: right;
  background-color: #333333;
  padding:20px 40px 20px;

}
nav div:first-child{
  margin-right: 20px;

}
nav div a:hover{
  background-color: blue;
}
nav div a{
  color: white;
  text-decoration: none;
  padding: 5px;
  size: 12px;
}

/* BUTTON */
button{
  background:#0563af;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:20px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#0563af;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #0563af;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
/* GENERAL DESIGN */
.container{
    display:flex;
    justify-content: space-between;
    margin: 60px 10%;
}
.content select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
    height: 60px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  outline: none;
}
.content{
  display: flex;
}
.content select{
  margin-right: 20px;
}
.content p{
    margin-left: 10px;
}
/* BODY */
body{
  background-color:#dddddd ;
  margin: 0px!important;
}
/* FLASH MESSAGES */
#hideMe {
    -moz-animation: cssAnimation 0s ease-in 3s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 3s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 3s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}