<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GAME UPLOAD</title>
    <!-- IMPORTING STATIC FILES : CSS-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload/upload.css')}}">
    <!-- IMPORTING STATIC FILES : JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="  crossorigin="anonymous"></script>
    <script src={{ url_for('static', filename='js/upload/bootstrap.min.js')}}></script>
    <script src={{ url_for('static', filename='js/upload/jquery.validate.min.js')}}></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/upload/main.js')}}"></script>
</head>
<body>
   <section class="ftco-section">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-md-6 text-center mb-5">
                  <h2 class="heading-section">Software Developer POC Upload Page</h2>
               </div>
            </div>
            <div class="row justify-content-center">
               <div class="col-md-12">
                  <div class="wrapper">
                     <div class="row no-gutters">
                        <div class="col-lg-6">
                           <div class="contact-wrap w-100 p-md-5 p-4">
                              <h3>File Upload</h3>
                              <p class="mb-4">Please fill all required fields</p>
                              <div id="form-message-warning" class="mb-4"></div>
                              <div id="form-message-success" class="mb-4">
                                 Your message was sent, thank you!
                              </div>
                              <div class="row mb-4">
                                 <div class="col-md-4">
							 </div>
                                 <div class="col-md-4">
                                    <div class="dbox w-100 d-flex align-items-start">
                                    </div>
                                 </div>
                                 <div class="col-md-4">
                                    <div class="dbox w-100 d-flex align-items-start">
                                    </div>
                                 </div>
                              </div>
                              <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="form-group">
                                          <input type="text" class="form-control" name="name" id="name" placeholder="Application ID">
                                       </div>
                                    </div>
                                    <div class="col-md-12">
                                       <div class="form-group">
                                          <input type="email" class="form-control" name="email" id="email" placeholder="Image Path">
                                       </div>
                                    </div>
                                    <div class="col-md-12">
                                       <br>
                                       <div class="form-group text-center">
                                          <input type="submit" value="Upload File" class="btn btn-primary">
                                          <div class="submitting"></div>
                                       </div>
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-stretch">
                           <div class="info-wrap w-100 p-5 img">
                               <img src="{{ url_for('static', filename='img/paşam.jpg')}}" alt="">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

</body>
</html>