<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/upload/upload.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="left">
        <div class="header">
            <img src="{{ url_for('static',filename='img/default/apps_logo.png') }}" alt="" width="300" height="150">
            <br><br><br><br><br>
          <h2 class="animation a1">Upload Images</h2>
          <h4 class="animation a2">Please fulfill all mandatory fields</h4>
        </div>
        <div class="form">
            <input type="text" class="form-field animation a3" placeholder="Application ID">
            <input type="text" class="form-field animation a4" placeholder="Image Path">
            <br>
            <button class="animation a6">UPLOAD FILE</button></div>
        </div>
      <div class="right"></div>
    </div>
  </body>
</html>